
@{
    ViewBag.Title = "View Solution";
}

<div class="page-header">
    <h1>Solution for @ViewData["BountyTitle"]</h1>
</div>

<div class="row">
    <div class="col-md-8">
        <h1>Description</h1>
        <p>@Html.Raw(ViewData["Description"])</p>
        <hr/>

        <h1>Code</h1>

        <div class="quill-wrapper" style="font-family:Courier New, Courier, monospace">
            <div id="code-display" class="input-code-editor" style="width: 100%;"></div>
        </div>

    </div>
    <div class="col-md-4" style="text-align: center">
        <div class="panel panel-default">
            <div class="panel-heading" style="background-color: lightgray">
                <h3 style="font-family:Quicksand-Book">
                    <b>
                        Posted By
                    </b>
                </h3>
            </div>
            <div class="panel-body" style="align-content:center">
                <font size="5">
                    vocanozomu
                </font>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" style="background-color: lightgray">
                <h3 style="font-family:Quicksand-Book">
                    <b>
                        Posted On
                    </b>
                </h3>
            </div>
            <div class="panel-body" style="align-content:center">
                <font size="5">
                    @ViewData["LastModified"]
                </font>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body btn-primary" style="align-content:center">
                <font size="5">
                    <span class="glyphicon glyphicon-ok"></span>
                    <font size="5">
                        Thrid Party Verified
                    </font>
                </font>
            </div>
        </div>
    </div>

</div>

<hr/>

<div class="row">
    <div class="text-center">
        <div id="accept-button" class="btn btn-success btn-lg center-block" style="text-align: center"><font size="5">Accept</font></div>
    </div>
</div>

<script language="javascript">
    $(document).ready(function () {
        var code = '@Html.Raw(ViewData["Code"])';

        var codeEditor = ace.edit("code-display");
        codeEditor.setValue(code, -1);
        codeEditor.getSession().setMode("ace/mode/c_cpp");
        document.getElementById('code-display').style.fontSize = '16px';
        codeEditor.setReadOnly(true);
        codeEditor.getSession().setUseWrapMode(true);

        codeEditor.setOptions({
            minLines: 10,
            maxLines: 15
        });
    });
</script>