
@{
    ViewBag.Title = "Index";
}

<div class="page-header">
    <h1>Bounty Title</h1> 
    <input id="bountyTitle" class="bountyTitleInput" type="text" name="bountyTitle" placeholder="Enter a title for your bounty"/>
</div>

<div class="row">
    <div class="col-md-8">
        <h1>Task</h1>
        <div class="quill-wrapper">
            <!-- Toolbar for Quill -->
            <div id="task-toolbar" class="toolbar">
                <button class="ql-bold"><B>B</B></button>
                <button class="ql-italic"><I>I</I></button>
            </div>
            <!-- Editor for Quill -->
            <div id="task-editor">
                <div><br></div>
                <div><br></div>
            </div>
        </div>
    </div>
    <div class="col-md-4" >
        <div class="panel panel-default">
            <div class="panel-heading" style="background-color: lightgray">
                <h3><b>Price</b></h3>
            </div>
            <div class="panel-body">
                <input id="bountyPrice" class="bountyPriceInput" type="text" placeholder="Enter a price for your bounty" />
                <h4 style="font-family:Quicksand-Book">You have @ViewData["Coins"] coins available.</h4>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <h1>Code</h1>
        <div class="quill-wrapper" style="font-family:Courier New, Courier, monospace">
            <div id="code-editor" class="input-code-editor" style="height: 500px; width: 500px;">some text</div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading" style="background-color: lightgray">
                <h3><b>Duration</b></h3>
            </div>
            <div class="panel-body" style="align-content:center">
                <input id="bountyEndDays" class="bountyPriceInput" type="text" placeholder="Enter days" />
                <input id="bountyEndHours" class="bountyPriceInput" type="text" placeholder="Enter hours." />
                <h4 id="totalHours" style="font-family:Quicksand-Book">
                </h4> 
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" style="background-color: lightgray">
                <h3><b>Tags</b></h3>
            </div>
            <div class="panel-body" style="align-content:center">
                <input id="bountyTags" class="bountyPriceInput" type="text" placeholder="Write tags separated by commas" />
            </div>
        </div>
        <!---<div class="panel panel-default">
            <div class="panel-heading" style="background-color: lightgray">
                <h3><b>Difficulty</b></h3>
            </div>
            <div class="panel-body" style="align-content:center">
                <select id="bountyDifficulty">
                    <option value="Easy">Easy</option>
                    <option value="Medium">Medium</option>
                    <option value="Hard">Hard</option>
                </select>
            </div>
        </div>-->
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="find-bounty-container">
            <a id="submitBounty" class="btn btn-success post-bounty-button">Submit</a>
        </div>
    </div>
</div>

<script language="javascript">
    $(document).ready(function () {

        var codeEditor = ace.edit("code-editor");
        codeEditor.getSession().setMode("ace/mode/c_cpp");
        document.getElementById('code-editor').style.fontSize = '16px';

        //// Create an instance of the background editor
        //var backgroundEditor = new Quill('#background-editor', {
        //    modules: {
        //        'toolbar': { container: '#background-toolbar' }
        //    },
        //    theme: 'snow'
        //});

        var taskEditor = new Quill('#task-editor', {
            modules: {
                'toolbar': { container: '#task-toolbar' }
            },
            theme: 'snow'
        });

        function submitBounty() {
            // Get all the info
          
            var bountyTitle = $('#bountyTitle').val();
            var bountyTask = taskEditor.getHTML();
            var bountyPrice = $('#bountyPrice').val();
            if (isNaN(bountyPrice) || bountyPrice < 0)
                alert("Must set valid bounty price");
            var today = Date.now();
            var totalHours = parseInt($('#bountyEndDays').val()) * 24 + parseInt($('#bountyEndHours').val());
            if (isNaN(totalHours) || totalHours < 0)
                alert("Please submit valid duration");
            var bountyEndTime = new Date(today + (totalHours * 60 * 60 * 1000));
            var bountyTags = $('#bountyTags').val().split(',');
            var bountyCode = codeEditor.getSession().getValue();
            // Need to add dummy value for background because it is still part of model
            var bountyBackground = "";
            // Need to add dummy value for difficulty because it is still part of model
            var bountyDifficulty = "Hard";
            // Store it in a JSON object
            var bounty = {
                'Title': bountyTitle,
                'Background': bountyBackground,
                'Task': bountyTask,
                'Tags': bountyTags,
                'Price': bountyPrice,
                'Code': bountyCode,
                'EndTime': bountyEndTime,
                'Difficulty': bountyDifficulty
            }

            // Send an AJAX query to the controller
            $.ajax({
                url: '../api/SubmitBountyApi',
                type: 'POST',
                data: JSON.stringify(bounty),
                dataType: 'json',
                contentType: 'application/json',
                success: function (response) {
                    console.log('Web Api Responds with:', response);
                },
                error: function (exception) {
                    alert('Exeption:' + exception);
                }
            });

            // Redirect to Profile
            alert("You've succesfully posted a bounty!")

            window.location.replace('../Profile');
        }

        $('#submitBounty').click(function () {
            submitBounty();
        });

        function calculateHours() {
            var hours = parseInt($('#bountyEndHours').val());
            if (isNaN(hours) || hours < 0)
                hours = 0;
            var days = parseInt($('#bountyEndDays').val());
            if (isNaN(days) || days < 0)
                days = 0;
            var totalHours = days * 24 + hours;
            str = "Total Hours: " + totalHours.toString();
            $("#totalHours").text(str);
        }

        $("#bountyEndDays").on('input propertychange', function () {
            calculateHours();
        });

        $("#bountyEndHours").on('input propertychange', function () {
            calculateHours();
        });
    });
</script>