
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-12" style="text-align:center">
        <h1 style="font-family:Calibri">MARKETPLACE</h1>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-6">
                <p><b>Filter By:</b></p>
            </div>
            <div class="col-md-6">
                <p>
                    <button type="button" class="btn btn-primary btn-xs">Refresh</button>
                </p>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="form-group">
                    <label for="exampleCoinMin">Coin Amount</label>
                    <input type="min-amount" class="coin-amount-form" id="exampleCoinMin" placeholder="Minimum">
                </div>
                <div class="form-group">
                    <input type="max-amount" class="coin-amount-form" id="exampleCoinMax" placeholder="Maximum">
                </div>
            </div>
            <div class="row">
                <p><b>Tags</b></p>
                <div class="checkbox">
                    <label><input type="checkbox" value="">pointers</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="">java</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="">c++</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="">jquery</label>
                </div>
            </div>
            <div class="row">
                <p><b>Post Date</b></p>
                <div class="checkbox">
                    <label><input type="checkbox" value="">Today</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="">This Week</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="">This Month</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="">This Year</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="">Forever</label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="row">
            <p>Open Bounties</p>
        </div>
        <div class="row">
            <table class="table">
                <tr>
                    <th>Bounty Title</th>
                    <th>Description</th>
                    <th>Difficulty</th>
                    <th>Value</th>
                    <th>Time Left</th>
                    <th></th>
                </tr>
                <tr>
                    <td>Null Pointer Exception in Java Method</td>
                    <td>I have created a nested class called TorsionalParameter that has....</td>
                    <td>Medium</td>
                    <td>10 coins</td>
                    <td>2 days</td>
                    <td><button type="button" class="btn btn-primary btn-xs">View</button></td>
                </tr>
                <tr>
                    <td>Null Pointer Exception in Java Method</td>
                    <td>I have created a nested class called TorsionalParameter that has....</td>
                    <td>Medium</td>
                    <td>10 coins</td>
                    <td>2 days</td>
                    <td><button type="button" class="btn btn-primary btn-xs">View</button></td>
                </tr>
                <tr>
                    <td>Null Pointer Exception in Java Method</td>
                    <td>I have created a nested class called TorsionalParameter that has....</td>
                    <td>Medium</td>
                    <td>10 coins</td>
                    <td>2 days</td>
                    <td><button type="button" class="btn btn-primary btn-xs">View</button></td>
                </tr>
            </table>
            @*<div class="col-md-8">
                    <p>Bounty Title</p>
                    <p>Here is the description of the bounty! jhfghdsgfhjkl;kjhgfddsadfgh gdgfhgjhkkhgfdt hghjhgfd hjkjhfgdy jkjh </p>
                </div>
                <div class="col-md-4">
                    [Medium]
                </div>*@
        </div>
    </div>
</div>

