@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h1>Register</h1>
</div>

<form id="registerForm" name="registerForm">
    <div class="form-group">
        <label for="inputUsername">Username</label>
        <input name="username" class="form-control" id="inputUsername" placeholder="Username">
    </div>
    <div class="form-group">
        <label for="inputEmail1">Email address</label>
        <input name="email" type="email" class="form-control" id="inputEmail" placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="inputPassword1">Password</label>
        <input name="password" type="password" class="form-control" id="inputPassword" placeholder="Password">
    </div>
    <div class="form-group">
        <label for="inputPassword2">Confirm Password</label>
        <input name="confirmPassword" type="password" class="form-control" id="inputPassword2" placeholder="Password">
    </div>
    <button id="submitButton" type="submit" class="btn btn-primary">Submit</button>
</form>

<script language="javascript">
    function validateForm() {
        var username = document.forms["registerForm"]["username"].value;

        if (username == null || username == "") {
            alert("Username Must be Filled Out");
            return false;
        }

        var email = document.forms["registerForm"]["email"].value;

        if (email == null || email == "") {
            alert("Email Must be Filled Out");
            return false;
        }

        var password = document.forms["registerForm"]["password"].value;

        if (password == null || password == "") {
            alert("Password Must be Filled Out");
            return false;
        }

        var confirmPassword = document.forms["registerForm"]["confirmPassword"].value;

        if (confirmPassword == null || confirmPassword == "") {
            alert("Password Confirmation Must be Filled Out");
            return false;
        }

        if (password != confirmPassword) {
            alert("Password and Confirmation Must Match");
            return false;
        }

        return true;
    }

    function SubmitRegistration() {

        //$.post('../api/UserApi', { '': { 'Username': 'Hi', 'Email': 'michael', 'Password': 'Hey' } }, function (response) { console.log("Web Api Responds with:", response); });

        var user = {
            'Username': $('#inputUsername').val(),
            'Email': $('#inputEmail').val(),
            'Password': $('#inputPassword').val()
        }

        $.ajax({
            url: '../api/UserApi',
            type: 'POST',
            data: JSON.stringify(user),
            dataType: 'json',
            contentType: 'application/json',
            success: function (response) {
                console.log('Web Api Responds with:', response);
            }
        });
    }

    $(document).ready(function () {

        //$.post('../api/UserApi', { '':  'Dave' }, function (response) { console.log("Web Api Responds with:", response); });

        $(function () {
            var submitButton = $('#submitButton');

            submitButton.click(function () {
                SubmitRegistration();
            });
        });
    });

</script>

