
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-12" style="text-align:center">
        <h1 style="font-family:Calibri">MARKETPLACE</h1>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-6">
        <div class="featured-deal">
            <h2>Featured Deals</h2>
            <hr />
            <p></p>
            <p><a class="btn btn-default" href="">5000 coins for $100</a></p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="cash-out">
            <h2>CASH OUT</h2>
            <hr />
            <p>You have: 18000 COINS</p>
            <label for="amount">Amount:</label>
            <input type="text" class="form-control" id="amount">
            <p>Select Destination:</p>
            <div class="radio">
                <label><input type="radio" name="optradio">VISA ending in 0000</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="optradio">Paypal</label>
            </div>
            <p><a class="btn btn-default" href="">Cash Out &raquo;</a></p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="buy-coins">
            <h2>10 coins for $0.99</h2>
            <hr />
            <p><a class="btn btn-default" href="">Buy &raquo;</a></p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="buy-coins">
            <h2>100 coins for $9.99</h2>
            <hr />
            <p><a class="btn btn-default" href="">Buy &raquo;</a></p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="buy coins">
            <h2>500 coins for $49.99</h2>
            <hr />
            <p><a class="btn btn-default" href="">Buy &raquo;</a></p>
        </div>
    </div>
</div>
