
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="profile-icon-container">
            <div class="featured-img-profile"></div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="coins-container">
            <div class="panel panel-default coins">
                <div class="panel-heading" style="background-color: lightgray">
                    <h3><b>Your Coins:</b></h3>
                </div>
                <div class="panel-body" style="align-content:center">
                    <font size="5">7000</font>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="profile-name-container">
            <h2>Michael Chen</h2>
        </div>
    </div>
    <div class="col-md-4">
    </div>
</div>

<hr/>

<div class="row">
    <div class="col-md-12">
        <div class="profile-tab-container">
            <ul class="nav nav-tabs nav-justified">
                <li role="presentation" class="active"><a href="#">Your Followed Bounties</a></li>
                <li role="presentation"><a href="#">Your Open Bounties</a></li>
                <li role="presentation"><a href="#">Your Solved Bounties</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <table class="table">
        <tr>
            <th>Bounty Title</th>
            <th>Description</th>
            <th>Difficulty</th>
            <th>Value</th>
            <th>Time Left</th>
            <th></th>
        </tr>
        <tr>
            <td>Null Pointer Exception in Java Method</td>
            <td>I have created a nested class called TorsionalParameter that has....</td>
            <td>Medium</td>
            <td>10 coins</td>
            <td>2 days</td>
            <td>@Html.ActionLink(HttpUtility.HtmlDecode("View"), "Index", "BountyPost", new { area = "" }, new { @class = "btn btn-primary btn-xs" })</td>
        </tr>
        <tr>
            <td>Null Pointer Exception in Java Method</td>
            <td>I have created a nested class called TorsionalParameter that has....</td>
            <td>Medium</td>
            <td>10 coins</td>
            <td>2 days</td>
            <td>@Html.ActionLink(HttpUtility.HtmlDecode("View"), "Index", "BountyPost", new { area = "" }, new { @class = "btn btn-primary btn-xs" })</td>
        </tr>
        <tr>
            <td>Null Pointer Exception in Java Method</td>
            <td>I have created a nested class called TorsionalParameter that has....</td>
            <td>Medium</td>
            <td>10 coins</td>
            <td>2 days</td>
            <td>@Html.ActionLink(HttpUtility.HtmlDecode("View"), "Index", "BountyPost", new { area = "" }, new { @class = "btn btn-primary btn-xs" })</td>
        </tr>
    </table>
    @*<div class="col-md-8">
            <p>Bounty Title</p>
            <p>Here is the description of the bounty! jhfghdsgfhjkl;kjhgfddsadfgh gdgfhgjhkkhgfdt hghjhgfd hjkjhfgdy jkjh </p>
        </div>
        <div class="col-md-4">
            [Medium]
        </div>*@
</div>

