
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="profile-icon-container">
            <div class="featured-img-profile"></div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="profile-name-container">
            <h2>Michael Chen</h2>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>

<hr/>

<div class="row">
    <div class="col-md-12">
        <div class="profile-tab-container">
            <ul class="nav nav-tabs nav-justified">
                <li role="presentation" class="active"><a href="#">Your Followed Bounties</a></li>
                <li role="presentation"><a href="#">Your Open Bounties</a></li>
                <li role="presentation"><a href="#">Your Solved Bounties</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 bounty-pill-list">
        <div class="bounty-pill-container">
            <div class="row-fluid">
                <div class="span6">
                    <h2>Bounty Title</h2>
                </div>
                <div class="span6">
                    Other stuffffalsd;kfas;jkdf
                </div>
            </div>
            <div class="row-fluid">
                <div class="span6">

                </div>
                <div class="span3">

                </div>
                <div clsss="span3">

                </div>
            </div>
        </div>
    </div>
</div>

