@font-face{
    font-family: "LeagueGothic-Regular";
    src: url('../fonts/league-gothic/league-gothic/LeagueGothic-Regular.otf');
}

@font-face{
    font-family: "Quicksand-Book";
    src: url('../fonts/quicksand/Quicksand_Book.otf');
}

@font-face{
    font-family: "neou-thin";
    src: url('../fonts/neou-font/Neou-Thin.otf');
}

body {
    font-family: Quicksand-Book
}

select {
    padding:3px;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #f8f8f8;
    color:#888;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
    width: 100%;
    border:solid 1px;
}

.dbx-nav {
    /*background-color: #140F2D;*/
}

body {
    /*background-color: #3F88C5;*/
    font-family: neou-thin;
}

body h1{
    /*font-family: Quicksand-Book;*/
    font-family: neou-thin;
}

body p{
    font-family: Quicksand-Book;
    /*font-family: neou-thin;*/
}

.featured-bounties {
    font-family:Calibri;
}

.lead {
    font-family: Calibri;
}


.splash-jumbotron {
    /*background-color: #D72638;
    color: white;*/
    text-align: center;
}

.splash-jumbotron h1{
    /*font-family: Quicksand-Book;*/
    font-family: neou-thin;
}

.featured-img-profile {
	width: 200px;
	height: 200px;
	border-radius: 100px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
    background-image: url("images/icon-user-default.png");
    background-size: contain;
}

.profile-icon-container {
    width: 50%;
    margin: 10% auto 0 auto;
}

.profile-name-container {
    font-family: Calibri;
    text-align:center;
}

.profile-tab-container {
    /*font-family: Calibri;*/
    font-family: neou-thin;
}

.bounty-pill-list {
}

.bounty-pill-container {
    /*font-family: Calibri;*/ 
    font-family: neou-thin;
    background-color: #F0F8FF;
    margin:2% 5px 1% 5px;
    padding:5px 20px 5px 20px;
}

.featured-bounties h2{
    font-family:Quicksand-Book;
    text-align:center;
}

.featured-bounties {
    text-align:center;
    /*font-family:Quicksand-Book;*/
    font-family: neou-thin;
    /* background-color: #F49D37;*/
    float:left;
    margin:0 5px 0 5px;
    padding:5px 20px 5px 20px;
    height: 100%;
}

.find-bounty-container {
    width: 50%;
    margin: 0 auto;
}

.find-bounty-button {
    margin:20px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    font-family:Quicksand-Book;
}

/* CONOR STYLING */
.input-xlg {
  height: 250px;
  padding: 10px 100px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 1px;
}
.outline {
	padding: 20px 20px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}

.bountyTitleInput {
    height:50px;
    font-size:18pt;
    max-width: 100%;
    width: 100%;
}

.bountyPriceInput {
    height:40px;
    font-size:16pt;
    max-width: 100%;
    width: 100%;
}

.quill-wrapper {
    background-color: #fff;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    box-shadow: 0px 0px 10px #ccc;
    max-width: 600px;
    min-width: 320px;
    width: 100%;
}

#task-toolbar {
  border: 1px solid #e5e5e5;
  width: 100%;
  margin: 20px auto;
  box-shadow: 2px 1px 5px rgba(0,0,0,0.2);
}

.toolbar {
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}

.post-bounty-button-container {
    width: 50%;
    margin: 0 auto;
}

.post-bounty-button {
    margin:20px 10px 10px 10px;
    padding: 10px 20px 10px 20px;
    font-family:Quicksand-Book;
}

.input-code-editor {
    font-family: Courier New, Courier, monospace;
}
